{% extends 'base.html.twig' %}

{% block title %}Gite | nom du gite{% endblock %}

{% block body %}
    <div class="flex h-full items-center justify-center">
        <div class="bg-gold-light-opacity flex flex-col border mt-2 rounded-xl p-5">
            <div class="flex flex-col justify-center">
                <h1 class="text-center mb-5 text-3xl">Nom du gite</h1>
                <div class="info flex h-full flex-row justify-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/The_station_pictured_from_the_SpaceX_Crew_Dragon_5.jpg/220px-The_station_pictured_from_the_SpaceX_Crew_Dragon_5.jpg" alt="photo gite" class="h-64 w-64 object-cover" />
                    <div class="flex flex-row">
                        <div class="flex list-none flex-col ml-10">
                            <li>Nombre de chambres: </li>
                            <li>Superficie: </li>
                            <li><i class="fa-solid fa-user">: </i></li>
                            <li><i class="fa-solid fa-children">: </i></li>
                            <li class="mt-[7rem] text-xl"><i class="fa-solid fa-coins"></i></li>
                        </div>
                        <div class="flex list-none flex-col ml-10">
                            <li>4</li>
                            <li>150 m²</li>
                            <li>6</li>
                            <li>4</li>
                            <li class="mt-[7rem] text-l">1128 € /nuits</i></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row justify-center mt-5 mb-10 space-x-10">
                <div class="accessInter list-none text-center">
                    <h1 class="mb-4 text-xl">Accessoires interieur:</h1>
                    <li>access 1</li>
                    <li>access 2</li>
                    <li>access 3</li>
                    <li>access 4</li>
                    <li>access 5</li>
                </div>
                <div class="accessExter list-none text-center">
                    <h1 class="mb-4 text-xl">Accessoires exterieur:</h1>
                    <li>access 1</li>
                    <li>access 2</li>
                    <li>access 3</li>
                    <li>access 4</li>
                    <li>access 5</li>
                </div>
                <div class="accessInter list-none text-center">
                    <h1 class="mb-4 text-xl">Services disponible:</h1>
                    <li>services 1</li>
                    <li>services 2</li>
                    <li>services 3</li>
                    <li>services 4</li>
                    <li>services 5</li>
                </div>
            </div>
        </div>
        <div class="reservation bg-gold-dark-opacity flex flex-col border mt-2 rounded-xl p-5 ml-5">
            <div class="date">
                <div class="entree m-4">
                    <h2>Date d'arrivée</h2>
                    <input type="date" name="arrivee" id="arrivee" class="rounded">
                </div>
                <div class="sortie m-4">
                    <h2>Date d'arrivée</h2>
                    <input type="date" name="depart" id="depart" class="rounded">
                </div>
            </div>
            <button class=" bg-dark-color rounded-full mt-5 text-gold-light">Reserver</button>
        
        </div>
    </div>
{% endblock %}