<header
    class="h-24 w-full border-b-2 border-gold-light bg-gradient-to-r from-black to-gold-light rounded-b-md"
>
    <div class="flex justify-between items-center h-full">
        <a href="#" class="ml-4">
            <img
                src="{{ asset('/images/Progica.png') }}"
                alt="Logo"
                class="h-24"
            />
        </a>
        <div class="text-center">
            <h1 class="text-3xl text-gold-light font-bold">Progica</h1>
            <p class="text-gold-dark">
                Le meilleur moyen de passer de bonnes vacances
            </p>
        </div>
        <div class="mr-3">
            <button
                class="rounded-full py-1 px-2 mr-2 hover:bg-gold-dark duration-500 border-[1px] border-gold-light hover:border-none"
            >
                Inscription
            </button>
            <button
                class="rounded-full py-1 px-2 hover:bg-gold-dark duration-500 border-[1px] border-gold-dark hover:border-none"
            >
                Connexion
            </button>
        </div>
    </div>
</header>
