<div class="flex flex-col 2xl:w-[1500px] xl:w-[1260px] lg:w-[1000px] md:w-[750px] sm:w-screen">
    <div class="flex flex-col">
        <div
            class="h-24 w-full border-b-2 border-gold-light bg-gradient-to-r from-black to-gold-light rounded-b-md"
        >
            <div class="flex justify-between items-center h-full">
                <a href="/" class="ml-4">
                    <img
                        src="{{ asset('/images/Progica.png') }}"
                        alt="Logo"
                        class="h-24"
                    />
                </a>
                <div class="text-center">
                    <h1 class="text-3xl text-gold-light font-extrabold">Progica</h1>
                    <p class="text-white font-extrabold">
                        Le meilleur moyen de passer de bonnes vacances
                    </p>
                </div>
                <div class=" pr-4">
                    <button
                        class="rounded-full py-1 px-2 mr-2 hover:bg-gold-dark duration-500 border-[1px] border-gold-light hover:border-none"
                    >
                        Inscription
                    </button>
                    <button
                        class="rounded-full py-1 px-2 hover:bg-gold-dark duration-500 border-[1px] border-gold-dark hover:border-none"
                    >
                        Connexion
                    </button>
                </div>
            </div>
        </div>
    </div>


