<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
        />
        <script
            src="https://kit.fontawesome.com/d217bc3ca2.js"
            crossorigin="anonymous"
        ></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using
        Symfony UX #} {% block stylesheets %}
        {{
            encore_entry_link_tags("app")
        }}
        {% endblock %} {% block javascripts %}
        {{
            encore_entry_script_tags("app")
        }}
        {% endblock %}
    </head>
    <body
        class="font-merriweather-sans items-center flex flex-col min-h-screen"
    >
        <div class="flex flex-col w-[1500px]">
            {{ include("partials/_header.html.twig") }}
            <div class="flex h-[calc(100vh-96px-48px-160px-40px)] overflow-scroll">
                {% block body %}{% endblock %}
            </div>
            {# <div class="w-full"> #}
                {{ include("partials/_footer.html.twig") }}
            {# </div> #}
        </div>
    </body>
</html>
